
TZ=Asia/Shanghai

F2B_LOG_TARGET=STDOUT
F2B_LOG_LEVEL=INFO

# 秒s，分m，时h，天d，月mo，年y
F2B_DB_PURGE_AGE=1d

#如发送邮件开启
#SSMTP_HOST=smtp.sendgrid.net
#SSMTP_PORT=587
#SSMTP_USER=apikey
#SSMTP_PASSWORD=YOUR_API_KEY